* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    padding: 10px;
    padding-bottom: 20px;
}

nav img {
    margin: 20px;
    cursor: pointer;
}

.nav-list {
    font-weight: 1000;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0 200px 0 40px;
}

.list {
    margin-right: 30px;
    transition: transform 0.3s ease-in-out;
}

.list:hover {
    transform: scale(1.1);
}

.list a {
    text-decoration: none;
    color: #000;
}

.lang {
    font-weight: 1000;
    margin: 30px 100px 0 0;
}


nav button {
    background-color: #c07744;
    color: #fff;
    border-style: none;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    margin: 20px auto;
    float: right;
    cursor: pointer;
    box-shadow: 0px 8px 5px -3px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 8px 5px -3px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 8px 5px -3px rgba(0,0,0,0.46);
    transition: transform 0.3s ease-in-out;
}

nav button:hover {
    transform: scale(1.1);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.container {
    padding: 20px;
    background-color: #04342f;
}

.row {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04342f;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 1280px;
    height: 80px;
    border-radius: 10px;
    margin: 10px;
}

.navigation-link {
    padding: 30px 50px;
}

.navigation-link a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    z-index: 1;
}

.navigation-link span {
    position: absolute;
    top: 0;
    left: 246px;
    width: 200px;
    height: 100%;
    background: #c07744;
    border-radius: 8px;
    transition: .5s;
}

.navigation-link a:nth-child(1):hover~span
{
    left: 246px;
}

.navigation-link a:nth-child(2):hover~span
{
    left: 446px;
}

.navigation-link a:nth-child(3):hover~span
{
    left: 646px;
    width: 130px;
}

.navigation-link a:nth-child(4):hover~span
{
    left: 766px;
    width: 100px;
}

.navigation-link a:nth-child(5):hover~span
{
    left: 866px;
    width: 120px;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
    flex: 1;
    max-width: 1280px;
    height: 490px;
    margin: 10px;   
    border-radius: 10px;
    margin: 10px;
}

.nav-content {
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    max-width: 320px;
    height: 450px;
    border-radius: 10px;
    margin: 10px;
}

.list-content {
    margin: 0 0 0 40px;
    list-style: none;
}

.list-contents {
    margin-top: 40px;
}

.list-contents a {
    color: #000;
    text-decoration: none;
    font-weight: 1000;
}


.contents {
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    max-width: 900px;
    height: 450px;
    border-radius: 10px;
    margin: 10px;
}

.header-contents {
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    max-width: 900px;
    height: 20px;
    border-radius: 10px;
    margin: 10px;
}

.header-contents h3 {
    padding: 5px 0 0 40px;
}

.item-contents {
    border-style: ridge;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f4;
    position: relative;
    flex: 1;
    max-width: 900px;
    height: 390px;
    border-radius: 10px;
    margin: 10px;
}

.item-contents img {
    margin: 20px 200px;
}

.item-contents-text {
    margin: 0 180px;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    nav {
        width: 100%;
        padding: 0;
    }

    nav img {
        width: 20%;
    }

    .nav-list {
        margin: 0 auto;
        font-size: 0.8em;
    }

    .lang {
        font-weight: 1000;
        margin: 30px auto;
        font-size: 0.9em;
    }

    nav button {
        font-size: 10px;
        width: 10%;
        float: right;
        margin: 20px auto;
    }